{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>User Inquiry Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'user_form/css/style.css' %}">

	</head>
	<body>
  {% block content %}
  
  {% endblock content %}
	</body>
</html>

