{% extends 'user_form/base.html' %}
{% load static %}


{% block content %}

<section class="ftco-section">
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-md-6 text-center mb-5">
    <h2 class="heading-section">User Inquiry Form</h2>
   </div>
  </div>
  <div class="row justify-content-center">
   <div class="col-lg-10 col-md-12">
    <div class="wrapper">
      <div class="col-md-12 d-flex align-items-stretch">
       <div class="contact-wrap w-100 p-md-5 p-4">
        <h3 class="mb-4">Get in touch</h3>
        <div id="form-message-warning" class="mb-4"></div>
        <div id="form-message-success" class="mb-4">
         Your message was sent, thank you!
        </div>
        <form method="POST" id="contactForm" name="contactForm">
          {% csrf_token %}
         <div class="row">
          <div class="col-md-4">
           <div class="form-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
           </div>
          </div>
          <div class="col-md-4">
           <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
           </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
             <input type="number" class="form-control" name="phone_number" id="Phone Number" placeholder="Email">
            </div>
           </div>
          <div class="col-md-6">
           <div class="form-group">
            <input type="date" class="form-control" name="start_date" id="phone_number" placeholder="Subject">
           </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="date" class="form-control" name="end_date" id="phone_number" placeholder="Subject">
            </div>
          </div>
          <div class="col-md-12">
           <div class="form-group">
            <textarea class="form-control" id="message" name="description" cols="30" rows="7"
             placeholder="Message"></textarea>
           </div>
          </div>
          <div class="col-md-12">
           <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary">
            <div class="submitting"></div>
           </div>
          </div>
         </div>
        </form>
       </div>
      </div>
     </div>
   </div>
  </div>
 </div>
</section>

{% endblock content %}