{% extends 'user_form/base.html' %}
{% load static %}


{% block content %}

<section class="ftco-section">
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-md-6 text-center mb-5">
    <h2 class="heading-section">User Inquiry Form</h2>
   </div>
  </div>
  <div class="row justify-content-center">
   <div class="col-lg-10 col-md-12">
    <div class="wrapper">
      <div class="col-md-12 d-flex align-items-stretch">
       <div class="contact-wrap w-100 p-md-5 p-4">
        <h3 class="mb-4">Confirm OTP</h3>
        <div id="form-message-warning" class="mb-4"></div>
        <form method="POST" id="contactForm" name="contactForm" action="{% url 'confirm_otp' %}">
          {% csrf_token %}
         <div class="row">
          <div class="col-md-4">
           <div class="form-group">
            <input type="number" class="form-control" name="otp" placeholder="OTP">
           </div>
          </div>
          <div class="col-md-12">
           <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary">
            <div class="submitting"></div>
           </div>
          </div>
         </div>
        </form>
       </div>
      </div>
     </div>
   </div>
  </div>
 </div>
</section>

{% endblock content %}